body {
    margin: 0 auto;
    max-width: 550px;
}

.grey {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

h1 {
    width: 347px;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 36px;
}
h2 {
    font-size: 12px;
    font-weight: 300;
}
